In [3]:
annual_income=int(input("enter annual income: "))

if annual_income <=250000:
    tax=0
    print("income tax on annual income is = ", tax)
   
elif annual_income>=250000 and annual_income<=500000:
    tax=(annual_income-250000)*0.05
    print("income tax on annual income is = ",tax)
   

elif annual_income>=500000 and annual_income<=750000:
    tax=(annual_income-500000)*0.1+12500
    print("income tax on annual income is = ", tax)
   
elif annual_income>=750000 and annual_income<=1000000:
    tax=(annual_income-750000)*0.3+37500
    print("income tax on annual income is = ", tax)

enter annual income: 700000
income tax on annual income is =  32500.0

In [1]:
# function 27 Aug 2022

In [8]:
def add(x,y):
    z=x+y
    print(z)

In [9]:
add(2,3)

5

In [7]:
import math
math.pi

3.141592653589793

In [9]:
#1. No arguments and no return values
#2. With arguments and no return values
#3. With arguments and with return values
#4. No arguments and with return values

'\n1. No arguments and no return values\n2. With arguments and no return values\n3. With arguments and with return values\n4. No arguments and with return values\n'

In [10]:
#1. No arguments and no return values
def add():
    a=10
    b=20
    c=a+b
    print(c)

In [13]:
z=add()
print(z)

30
None

In [35]:
#2.1 With arguments and no return values
def add(a,b):
    c=a+b
    print(c)

In [38]:
add(40,180)

220

In [19]:
#2.2 With arguments and no return values
def test(filename):
    if filename.endswith('pdf'):
        return "pdf file"
    else:
        return "other file"

In [20]:
test("abc.pdf")

'pdf file'

In [43]:
filename=input("Enter file name: ")
test(filename)

Enter file name: abc.pdf

'pdf file'

In [45]:
test("nsp.pdf")

'pdf file'

In [14]:
#3. With arguments and with return values
# it is the most used type of function
def add(a,b):
    c=a+b
    return c

In [15]:
add(4,9)

13

In [17]:
add(8,9)
#print(z)

17

In [26]:
#4. No arguments and with return values
def add():
    a=20
    b=30
    c=a+b
    return c

In [27]:
result=add()

In [28]:
result

50

In [ ]:
#  - Types of arguments
# 1. Positional arguments
# 2. Default arguments
# 3. Variable length arguments (*args)
# 4. Keyword arguments ()
# 5. Variable length keyword arguments (**kwargs)

In [ ]:
# 1. Positional arguments
# sequence and number of formal and actual arguments should be same

In [52]:
def persoanl_details(emp_id, emp_name, emp_city, emp_sal): #formal arguments
    print("Emp Id: ",emp_id)
    print("Emp Name: ",emp_name)
    print("Emp City: ",emp_city)
    print("Emp Salary: ",emp_sal)

In [53]:
persoanl_details(101,"Nishat","Pune",150000) # actual arguments

Emp Id:  101
Emp Name:  Nishat
Emp City:  Pune
Emp Salary:  150000

In [ ]:
# 2. Default arguments
# If actual arguments are not provided then to avoid error a default argument is passed in formal argument
# non-default argument should follow default argument

In [60]:
def persoanl_details(emp_id, emp_name, emp_city, emp_sal, emp_aadhar): #formal arguments
    print("Emp Id: ",emp_id)
    print("Emp Name: ",emp_name)
    print("Emp City: ",emp_city)
    print("Emp Salary: ",emp_sal)   
    print("Emp Aadhar: ",emp_aadhar)

In [61]:
persoanl_details(102,"Nilofar","Paris",200000,12345678987)

Emp Id:  102
Emp Name:  Nilofar
Emp City:  Paris
Emp Salary:  200000
Emp Aadhar:  12345678987

In [62]:
persoanl_details(103,"Zishan","Canada",500000)

TypeError: persoanl_details() missing 1 required positional argument: 'emp_aadhar'

In [67]:
def persoanl_details(emp_id, emp_name, emp_city, emp_sal, emp_aadhar="No Aadhar provided"): # here emp_aadhar="No Aadhar provided" is a default argument
    print("Emp Id: ",emp_id)
    print("Emp Name: ",emp_name)
    print("Emp City: ",emp_city)
    print("Emp Salary: ",emp_sal)   
    print("Emp Aadhar: ",emp_aadhar)

In [68]:
persoanl_details(103,"Zishan","Canada",500000)

Emp Id:  103
Emp Name:  Zishan
Emp City:  Canada
Emp Salary:  500000
Emp Aadhar:  No Aadhar provided

In [70]:
persoanl_details(104,"Nusarat","Jalgaon",500000,2345676)

Emp Id:  104
Emp Name:  Nusarat
Emp City:  Jalgaon
Emp Salary:  500000
Emp Aadhar:  2345676

In [74]:
def persoanl_details(emp_id=0, emp_name="Employee", emp_city="City", emp_sal=0, emp_aadhar="No aadhar given"): #formal arguments
    print("Emp Id: ",emp_id)
    print("Emp Name: ",emp_name)
    print("Emp City: ",emp_city)
    print("Emp Salary: ",emp_sal)   
    print("Emp Aadhar: ",emp_aadhar)

In [78]:
persoanl_details("jalgaon")

Emp Id:  jalgaon
Emp Name:  Employee
Emp City:  City
Emp Salary:  0
Emp Aadhar:  No aadhar given

In [ ]:
# 3. Variable length arguments (*args)
# when we don't know the number of arguments

In [81]:
def car_details(car_name, car_price, car_color, car_mil):
    print("Car Name: ", car_name)
    print("Car Price: ", car_price)
    print("Car Color: ", car_color)
    print("Car Mileage: ", car_mil)

In [82]:
car_details("Jaguar","5cr","Red","50")

Car Name:  Jaguar
Car Price:  5cr
Car Color:  Red
Car Mileage:  50

In [ ]:
# 3. Variable length arguments (*args)
# when we don't know the number of arguments
# the variable length arguments gets stored in tuple format
# it generally is not used
# it is used in cases where number of variables changed

In [21]:
 def test(*args):
        #print("In function")
        print(args)
        print(type(args))
        #print("In function")

In [22]:
test(45,"Python",96,76,46)

(45, 'Python', 96, 76, 46)
<class 'tuple'>

In [25]:
def add(*args):
    total=""
    for i in args:
        total= total+i
    print(total)

In [26]:
add("abc","xyz")

abcxyz

In [ ]:
# 4. Keyword arguments ()
# disadvantage of positional argument-> if there are more than 5-6 formal arguments
# then it becomes difficult to remember their position. In this scenario keyword argument comes in handy
# we can use keywords as variable name
# no need to remember sequence of arguments

In [1]:
def car_details(car_name, car_price, car_color, car_mil):
    print("Car Name: ", car_name)
    print("Car Price: ", car_price)
    print("Car Color: ", car_color)
    print("Car Mileage: ", car_mil)

In [2]:
car_details(car_mil=50, car_color="black",car_price=500000,car_name="audi") 
#here car_mil, car_color, car_price, car_name are keywords

Car Name:  audi
Car Price:  500000
Car Color:  black
Car Mileage:  50

In [ ]:
# 5. Variable length keyword arguments (**kwargs)
# number of key value pair is varied
# syntax
#

In [29]:
def emp_details(**kwargs):
    print(type(kwargs))

In [30]:
emp_details(name="keshav",city="pune",sal=4500000)

<class 'dict'>

In [27]:
emp_details(name="jon",city="jalgaon")

{'name': 'jon', 'city': 'jalgaon'}

function

In [ ]:
# *args is variable length arguments (tuple)
# **kwargs is variable length keyword argumets (dict)

In [41]:
def add(a,b,c,d):
    z=a+b+c+d
    return z

In [42]:
add(1,2)

TypeError: add() missing 2 required positional arguments: 'c' and 'd'